# LIBRERIAS Y DEPENDENCIAS

In [1]:
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt

_______________

# EDA - checkin.json

In [3]:
yelp_checkin= pd.read_json('../../Data/checkin.json', lines= True)

In [4]:
yelp_checkin.head(7)

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
5  --8IbOsAAxjKRoYsBFL-PA  2015-06-06 01:03:19, 2015-07-29 16:50:58, 2015...
6  --9osgUCSDUWUkoTLdvYhQ  2015-06-13 02:00:57, 2015-07-04 00:44:09, 2015...

## Caracteristicas

In [5]:
yelp_checkin.shape

(131930, 2)

In [6]:
yelp_checkin.columns

Index(['business_id', 'date'], dtype='object')

## Tipos de datos

In [7]:
yelp_checkin.dtypes

business_id    object
date           object
dtype: object

## String vacios o faltantes

In [8]:
yelp_checkin.apply(lambda x: (x == "").sum())

business_id    0
date           0
dtype: int64

## Nulos

In [9]:
yelp_checkin.isnull().sum()

business_id    0
date           0
dtype: int64

## Duplicados

In [10]:
duplicate_counts = yelp_checkin.apply(lambda col: col.duplicated().sum())

duplicate_counts

business_id    0
date           0
dtype: int64

In [11]:
# Conteo duplicado global
yelp_checkin.duplicated().sum()

0

OBS: No se observo ni valores nulos, faltantes o duplicados en este dataset

## OUTLIERS

____________________